<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Home Page</title>
</head>
<body>
  <h2>Home Page</h2>
  <br>
  <h2>Views/partials/header</h2>
  <nav>
    <a href="/">Home</a> | <a href="/artists/new">Artists</a> | <a href="/artists/albums">Albums</a> | <a href="/artists">All Artists</a>
  </nav>