<%- include('../partials/header') %>
<h1>Add A New Album</h1>

<br>

<form id="albums-form" action="/albums" method="POST">
  <label  style="width: 600px;">Album Title
    <input style="margin-left: 5px; width: 378px;" type="text" name="title">
  </label>
  <br>
  <label style="width: 600px;">Release Year
    <input style="width: 378px;" type="number" name="releaseYear">
  </label>
  <br>
  <label style="width: 500px;">Genre
    <select style="margin-left: 44px;" name="genre">
      <option value="Rock">Rock</option>
      <option value="Metal">Metal</option>
      <option value="Pop">Pop</option>
      <option value="Indie">Indie</option>
      <option value="Thrash">Thrash</option>
    </select>
  </label>
  <br>
  <label style="width: 600px">Artist
    <input style="margin-left: 47px; width: 378px;" type="text" name="artist">
  </label>
  <input class="addAlbum" value="Add Album" type="submit" name="Add Album">
</form>

<%- include('../partials/footer') %>


