<%- include('../partials/header') %>
<h1>Views Albums New Page</h1>

<br>

<form id="albums-form" action="/albums" method="POST">
  <label>Album Title
    <input type="text" name="title">
  </label>
  <br>
  <label>Release Year
    <input type="number" name="releaseYear">
  </label>
  <br>
  <label>Genre
    <select name="genre">
      <option value="Rock">Rock</option>
      <option value="Metal">Metal</option>
      <option value="Pop">Pop</option>
      <option value="Indie">Indie</option>
      <option value="Thrash">Thrash</option>
    </select>
  </label>
  <br>
  <label>Artist
    <input type="text" name="artist">
  </label>
  <input type="submit" name="Add Album">
</form>

<%- include('../partials/footer') %>


