<%- include('../partials/header') %>
<h1 class="newArtist">Add A New Artist</h1>

<br>



<form id="artists-form" action="/artists" method="POST">
  <label style="width: 600px;">Artist
    <input type="text" name="name" style="margin-left: 47px; width: 378px;">
  </label>
  <br>
  <label style="width: 600px;">Genre
    <select name="genre" style="margin-left: 44px;">
      <option value="Rock">Rock</option>
      <option value="Metal">Metal</option>
      <option value="Pop">Pop</option>
      <option value="Indie">Indie</option>
      <option value="Thrash">Thrash</option>
    </select>
  </label>
  <br>
  <label style="width: 500px;">Year Formed
    <input type="number" name="yearFormed" style="width: 378px; padding-left: 10px; margin-left: 0px ;">
  </label>
  <input class="addArtist" value="Add Artist" type="submit" name="Add Artist">
</form>

<%- include('../partials/footer') %>


